<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkee.linkeeapi.board.report.query.mapper.ReportMapper">

    <!-- 전체 신고 목록 조회 (관리자) -->
    <select id="findAllReports"
            resultType="com.linkee.linkeeapi.board.report.query.dto.response.ReportListResponseDto">

        SELECT
            r.report_id,
            r.report_title,
            r.report_type,
            r.reporter_id,
            r.admin_id,
            r.report_status,
            r.created_at,
            r.updated_at,

            u.user_nickname AS reporterNickname,
            a.user_nickname AS adminNickname

        FROM tb_report r
                 LEFT JOIN tb_user u ON r.reporter_id = u.user_id
                 LEFT JOIN tb_user a ON r.admin_id = a.user_id

        ORDER BY r.created_at DESC
            LIMIT #{offset}, #{limit}

    </select>


    <!-- 신고 목록 조회 (일반 사용자) -->
    <select id="findReportsByUser"
            resultType="com.linkee.linkeeapi.board.report.query.dto.response.ReportListResponseDto">

        SELECT
            r.report_id,
            r.report_title,
            r.report_type,
            r.reporter_id,
            r.admin_id,
            r.report_status,
            r.created_at,
            r.updated_at,

            u.user_nickname AS reporterNickname,
            a.user_nickname AS adminNickname

        FROM tb_report r
                 LEFT JOIN tb_user u ON r.reporter_id = u.user_id
                 LEFT JOIN tb_user a ON r.admin_id = a.user_id

        WHERE r.reporter_id = #{userId}

        ORDER BY r.created_at DESC
            LIMIT #{offset}, #{limit}

    </select>


    <!-- 신고 상세 조회 (관리자) -->
    <select id="findReportById"
            resultType="com.linkee.linkeeapi.board.report.query.dto.response.ReportDetailResponseDto">

        SELECT
            r.report_title,
            r.report_content,
            r.report_type,
            r.reporter_id,
            r.reported_id,
            r.report_action,
            r.report_status,

            u.user_nickname AS reporterNickname,
            t.user_nickname AS reportedNickname,
            a.user_nickname AS adminNickname

        FROM tb_report r
                 LEFT JOIN tb_user u ON r.reporter_id = u.user_id
                 LEFT JOIN tb_user t ON r.reported_id = t.user_id
                 LEFT JOIN tb_user a ON r.admin_id = a.user_id

        WHERE r.report_id = #{reportId}

    </select>


    <!-- 신고 상세 조회 (일반 사용자, 본인 것만) -->
    <select id="findReportByIdAndReporter"
            resultType="com.linkee.linkeeapi.board.report.query.dto.response.ReportDetailResponseDto">

        SELECT
            r.report_title,
            r.report_content,
            r.report_type,
            r.reporter_id,
            r.reported_id,
            r.report_action,
            r.report_status,

            u.user_nickname AS reporterNickname,
            t.user_nickname AS reportedNickname,
            a.user_nickname AS adminNickname

        FROM tb_report r
                 LEFT JOIN tb_user u ON r.reporter_id = u.user_id
                 LEFT JOIN tb_user t ON r.reported_id = t.user_id
                 LEFT JOIN tb_user a ON r.admin_id = a.user_id

        WHERE r.report_id = #{reportId}
          AND r.reporter_id = #{userId}

    </select>


    <!-- 전체 목록 조회 (페이징 X) -->
    <select id="findAllReportsWithoutPaging"
            resultType="com.linkee.linkeeapi.board.report.query.dto.response.ReportListResponseDto">

        SELECT
            r.report_id,
            r.report_title,
            r.report_type,
            r.reporter_id,
            r.admin_id,
            r.report_status,
            r.created_at,
            r.updated_at,

            u.user_nickname AS reporterNickname,
            a.user_nickname AS adminNickname

        FROM tb_report r
                 LEFT JOIN tb_user u ON r.reporter_id = u.user_id
                 LEFT JOIN tb_user a ON r.admin_id = a.user_id

        ORDER BY r.created_at DESC
    </select>


    <!-- 사용자 목록 조회 (페이징 X) -->
    <select id="findReportsByUserWithoutPaging"
            resultType="com.linkee.linkeeapi.board.report.query.dto.response.ReportListResponseDto">

        SELECT
            r.report_id,
            r.report_title,
            r.report_type,
            r.reporter_id,
            r.admin_id,
            r.report_status,
            r.created_at,
            r.updated_at,

            u.user_nickname AS reporterNickname,
            a.user_nickname AS adminNickname

        FROM tb_report r
                 LEFT JOIN tb_user u ON r.reporter_id = u.user_id
                 LEFT JOIN tb_user a ON r.admin_id = a.user_id

        WHERE r.reporter_id = #{userId}

        ORDER BY r.created_at DESC

    </select>

</mapper>
