<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkee.linkeeapi.grade.query.mapper.GradeMapper">

    <select id="selectAllGrade" resultType="com.linkee.linkeeapi.grade.query.dto.response.GradeResponse">
        SELECT grade_id,
        grade_name
        FROM tb_grade
        <where>
            <if test="keyword != null and keyword != ''">
                grade_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY grade_id ASC
    </select>

</mapper>
