<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linkee.linkeeapi.chat_message.query.mapper.ChatMessageMapper">

    <select id="selectAllChatMessage" resultType="com.linkee.linkeeapi.chat_message.query.dto.response.ChatMessageResponse">
        SELECT
        chat_message_id,
        message_content,
        sent_at,
        chat_room_id,
        sender_id
        FROM tb_chat_message
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND message_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="chatRoomId != null and chatRoomId != ''">
            AND chat_room_id = #{chatRoomId}
        </if>
        <if test="senderId != null and senderId != ''">
            AND sender_id = #{senderId}
        </if>
        ORDER BY sent_at DESC
        <if test="size != null and offset != null">
            LIMIT #{size} OFFSET #{offset}
        </if>
    </select>


    <select id="countChatMessage" resultType="int">
        SELECT COUNT(*)
        FROM tb_chat_message
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND message_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>



</mapper>